@import url('reset.css');

body {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "left center center center right"
    "aside conteudo conteudo conteudo conteudo"
    "aside conteudo conteudo conteudo conteudo"
    "aside conteudo conteudo conteudo conteudo"
    "aside conteudo conteudo conteudo conteudo";
}

header {
    display: contents;
}

.left {
    grid-area: left;
    align-items: center;
}

#menu {
    width: 24px;
    height: 24px;
    padding: 10px 30px 0 10px;
}

#logo {
    width: 90px;
    height: 20px;
    padding-bottom: 2px;
}

.center {
    grid-area: center;
    justify-self: center;
}

#busca {
    width: 404px;
    height: 40px;
}

.right {
    display: grid;
    grid-area: right;
    align-items: center;
    grid-auto-flow: column;
    justify-self: end;
    gap: 20px;
    padding-right: 10px;
}

#video {
    width: 24px;
    height: 24px;
}

#notificacao {
    width: 24px;
    height: 24px;
}

#perfil {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.aside {
    grid-area: aside;
}

.conteudo {
    grid-area: conteudo;
}